appdirs==1.4.4
attrs==21.2.0
clldutils==3.10.1
colorlog==6.6.0
csvw==1.11.0
cycler==0.11.0
fonttools==4.28.3
isodate==0.6.0
kiwisolver==1.3.2
latexcodec==2.0.1
lingpy==2.6.9
matplotlib==3.5.0
networkx==2.6.3
newick==1.3.1
numpy==1.21.4
packaging==21.3
phylogemetric==1.1.0
Pillow==8.4.0
pybtex==0.24.0
pycldf==1.24.0
pylodata==0.2.0
-e git+https://github.com/pylogeny/tiger@c39bae41d613dd52d0e7ac3f14e858e004ea52f2#egg=pylotiger
pyparsing==3.0.6
python-dateutil==2.8.2
python-nexus==2.5.2
PyYAML==6.0
rfc3986==1.5.0
scipy==1.7.3
setuptools-scm==6.3.2
six==1.16.0
tabulate==0.8.9
termcolor==1.1.0
tomli==1.2.2
tqdm==4.62.3
uritemplate==4.1.1
